@tailwind base;
@tailwind components;
@tailwind utilities;

/* Frame 17 */

/* Auto layout */
/* display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 63px;

width: 1091.11px;
height: 46.16px; */
